Multithreaded-project-for-Otus/.vs/Multithreaded-project-for-Otus/DesignTimeBuild/.dtbcache.v2
Multithreaded-project-for-Otus/.vs/Multithreaded-project-for-Otus/FileContentIndex/864b9f47-3ab0-4dcc-8e02-51c7044995e6.vsidx
Multithreaded-project-for-Otus/.vs/Multithreaded-project-for-Otus/FileContentIndex/c73325f6-55e7-4165-a663-41bde5770172.vsidx
Multithreaded-project-for-Otus/.vs/Multithreaded-project-for-Otus/FileContentIndex/cc025d70-1185-4849-aa0c-03c328256150.vsidx
Multithreaded-project-for-Otus/.vs/Multithreaded-project-for-Otus/FileContentIndex/cf487704-cc17-428c-8562-c27c5c65cb53.vsidx
Multithreaded-project-for-Otus/.vs/Multithreaded-project-for-Otus/FileContentIndex/deb5c916-3036-4371-817d-c61a5cc144ce.vsidx
Multithreaded-project-for-Otus/.vs/Multithreaded-project-for-Otus/v17/.suo
Multithreaded-project-for-Otus/.vs/Multithreaded-project-for-Otus/v17/DocumentLayout.backup.json
Multithreaded-project-for-Otus/.vs/Multithreaded-project-for-Otus/v17/DocumentLayout.json
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/bin/Debug/net8.0/Multithreaded-project-for-Otus.deps.json
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/bin/Debug/net8.0/Multithreaded-project-for-Otus.dll
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/bin/Debug/net8.0/Multithreaded-project-for-Otus.exe
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/bin/Debug/net8.0/Multithreaded-project-for-Otus.pdb
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/bin/Debug/net8.0/Multithreaded-project-for-Otus.runtimeconfig.json
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Multithreaded-project-for-Otus.csproj.nuget.dgspec.json
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Multithreaded-project-for-Otus.csproj.nuget.g.props
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Multithreaded-project-for-Otus.csproj.nuget.g.targets
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/project.assets.json
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/project.nuget.cache
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/apphost.exe
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/Multithr.B649BD5F.Up2Date
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/Multithreaded-project-for-Otus.AssemblyInfo.cs
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/Multithreaded-project-for-Otus.AssemblyInfoInputs.cache
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/Multithreaded-project-for-Otus.assets.cache
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/Multithreaded-project-for-Otus.csproj.AssemblyReference.cache
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/Multithreaded-project-for-Otus.csproj.BuildWithSkipAnalyzers
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/Multithreaded-project-for-Otus.csproj.CoreCompileInputs.cache
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/Multithreaded-project-for-Otus.csproj.FileListAbsolute.txt
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/Multithreaded-project-for-Otus.dll
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/Multithreaded-project-for-Otus.GeneratedMSBuildEditorConfig.editorconfig
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/Multithreaded-project-for-Otus.genruntimeconfig.cache
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/Multithreaded-project-for-Otus.GlobalUsings.g.cs
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/Multithreaded-project-for-Otus.pdb
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/ref/Multithreaded-project-for-Otus.dll
Multithreaded-project-for-Otus/Multithreaded-project-for-Otus/obj/Debug/net8.0/refint/Multithreaded-project-for-Otus.dll
